midi-text-dump/midi-text-dump
midi-text-dump/.DS_Store
midi-text-dump/midi-text-dump.dSYM
midi-text-dump/midi-text-dump.dSYM/Contents/Info.plist
midi-text-dump/midi-text-dump.dSYM/Contents/Resources/DWARF/midi-text-dump
.DS_Store

.fake
.ionide

FSharpMIDIParse/.DS_Store
